.qui-control-feed {
    display : inline-block;
    width   : 100%;
}

.qui-control-feed > .data-table:not(:last-of-type) {
    margin-bottom : 18px;
}

.qui-control-feed > .data-table:last-of-type,
.qui-control-feed-type-settings > .data-table:last-child {
    margin-bottom : 0;
}

.qui-control-feed-type-settings > .data-table:first-child {
    margin-top : 18px;
}

.qui-control-feed-type-settings > .data-table:not(:last-child) {
    margin-bottom : 18px;
}

.qui-control-feed fieldset {
    border : none;
    clear  : both;
    margin : 0;
}

.qui-control-feed-feedsites label {
    padding : 10px 0;
    width   : 100%;
}

.qui-control-feed-feedsites textarea {
    clear : both;
    width : 100%;
}

.qui-control-feed-type-settings .control-site-select-description {
    display : none;
}

.qui-control-feed-project {
    float      : none;
    min-height : 32px;
    width      : 100%;
}

.qui-control-feed .projects-input.field-container-field,
.qui-control-feed .field-container-field .projects-input {
    max-width : none;
    width     : 100% !important;
}

.qui-control-feed .field-container > .projects-input {
    border        : 1px solid rgba(147, 128, 108, 0.25);
    border-left   : 0;
    border-radius : 0 2px 2px 0;
    box-sizing    : border-box;
    flex          : 1;
    min-height    : 34px;
    width         : 100% !important;
}

.qui-control-feed .projects-input.field-container-field-no-padding {
    padding : 0;
}

.qui-control-feed-project input {
    box-sizing : border-box;
    width      : 100%;
}

.qui-control-feed .projects-input-input {
    border     : 0;
    box-sizing : border-box;
    margin     : 0;
    min-height : 32px;
    width      : 100% !important;
}

.qui-control-feed .projects-input-container {
    background : transparent;
    margin     : 0;
}

.qui-feed-feedwindow-split {
    margin-top : 10px;
    width      : 100%;
}

.qui-feed-feedwindow-split > input {
    width : auto;
}

.qui-feed-feedwindow-split > label {
    float : none;
    width : auto;
}

.qui-feed-feedwindow-publish > input {
    width : auto;
}

.qui-feed-feedwindow-publish > label {
    float : none;
    width : auto;
}

.qui-control-feed-btn-image {
    float : right;
}

.feed-checkbox-container > input{
    width: auto;
}

.feed-checkbox-container > label {
    float : none;
    width : auto;
}

.qui-control-feed__hidden {
    display: none;
}
